@import "variables.css";

footer {
    background-color: rgb(from var(--azulBackground) r g b / 0.5); /* Color de fondo con poca opacidad*/ 
    color: var(--verdeBrillante);
    padding: 40px 20px;
    text-align: center;
    border-top: 2px solid var(--verdePrincipal);
    box-shadow: 0 -5px 20px var(--negro);
    margin-top: 50px;
    font-family: "Oswald", sans-serif;
    user-select: none; /*Evita que el texto sea seleccionable */
}

footer h3 {
    color: var(--rojoBrillante);
    letter-spacing: 4px;
    margin-bottom: 10px;
    text-shadow: 0 0 8px var(--rojoBrillante);
}

footer p {
    font-size: 14px;
    margin: 10px 0;
}

.footerInfo {
    color: var(--verdePrincipal);
    letter-spacing: 2px;
    font-size: 13px;
}

.footerLinks {
    margin-top: 15px;
    font-size: 13px;
}

.footerLinks a {
    color: var(--verdeBrillante);
    text-decoration: none;
    margin: 0 5px;
}

.footerLinks a:hover {
    color: var(--rojoBrillante);
    text-shadow: 0 0 10px var(--rojoBrillante);
}

.footerBottom {
    margin-top: 20px;
    font-size: 12px;
    color: var(--naranjaBrillo);
    opacity: 0.7;
}