/*𝕀ℕ𝕀ℂ𝕀𝕆*/

@import "variables.css";

/* ESTILOS GENERALES */

* {
  margin: 0; /* Elimina el margen por defecto  */
  padding: 0; /* Elimina el padding por defecto  */
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total del elemento */
}

body {
  background-image: url(../IMG/inicio/bg_Inicio.gif);
  background-size: cover;
  background-position: center;
}

/*---------------------------------------------------------------------------------------------------------------*/

/*PÁGINA DE INICIO*/

main {
  width: 80%;
  margin: 1% auto; /* Centra el contenido horizontalmente */
  align-items: center;
}

main::selection {
  background-color: var(--azulBackground);
  color: var(--rojoPrincipal);
}

/* TÍTULO */

#titulo {
  width: 100%;
  white-space: nowrap; /* Evita los saltos de línea */
  user-select: none; /* Evita que el texto sea seleccionable */
  font-size: 0; /* Elimina el espacio entre los elementos en línea */
  font-family:
    times new roman,
    serif;
}

#titulo > div:first-child {
  /* Estilos para el primer div, >: hijo directo */
  display: inline-block;

  width: 70%;
  padding: 20px; /* Agrega algo de espacio alrededor del texto */
  font-size: 60px;
  color: white;
}

#titulo > div:first-child > div:last-child > h1 {
  text-align: right; /* Alinea el texto a la derecha dentro del primer div */
  color: var(--rojoPrincipal);
}

#titulo > div:last-child {
  /* Estilos para el segundo div */
  display: inline-block;

  width: 30%;
  font-size: 45px;
  text-align: center;
  vertical-align: top; /* Alinea el segundo div con la parte superior del primer div */
}

/* CUERPO */

section {
  width: 95%;
  margin: 3% auto;
}

.LoPar {
  font-size: 25px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: white;
}

section div:nth-child(2),
section div:nth-child(3) {
  display: inline-block;
  width: 29%;
  padding: 20px; /* Agrega algo de espacio alrededor del texto */
  vertical-align: top; /* Alinea el texto con la parte superior del div */
}

section div:nth-child(1),
section div:nth-child(4) {
  display: inline-block;
  width: 20%;
  padding: 20px; /* Agrega algo de espacio alrededor del texto */
  vertical-align: top; /* Alinea el texto con la parte superior del div */
  text-align: center;
}

section p {
  width: 100%;
  font-size: 18px;
  color: white;
  text-align: justify;
}

section a {
  display: block;
  width: 30%;
  padding: 18px 30px;
  margin: 20px auto;
  background-color: var(--azulBackground);
  color: var(--verdeBrillante);
  text-align: center;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  letter-spacing: 10px; /* Agrega espacio entre las letras */

  border: 2px solid var(--verdePrincipal);
  border-radius: 10px;

  box-shadow:
    0 0 5px var(--verdePrincipal),
    0 0 15px var(--verdeBrillante),
    inset 0 0 10px var(--negro); /*inset: sombra interna */
}

/* VISITADO */
section a:visited {
  color: var(--verdeBrillante);
}

/* HOVER*/
section a:hover {
  background-color: var(--rojoOscuro);
  color: var(--naranjaBrillo);

  transform: scale(1.06);
  letter-spacing: 10px;

  border-color: var(--rojoBrillante);

  box-shadow:
    0 0 10px var(--verdeBrillante),
    0 0 20px var(--rojoBrillante),
    0 0 40px var(--verdePrincipal);

    transition: all 0.3s ease;
}

/* CLICK */
section a:active {
  color: var(--rojoBrillante);
}

#volverArriba {
  width: 30%;
  color: var(--rojoPrincipal);
  text-align: center;
  text-decoration: none;
  font-family:
    times new roman,
    serif;
  font-size: 18px;
  letter-spacing: 3px; /* Agrega espacio entre las letras */
}

#volverArriba:hover {
  text-decoration: underline;
}

/* GENERALES */

.bold {
  font-weight: bold;
}

.outstanding {
  font-weight: bold;
  color: var(--rojoPrincipal);
}
