/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* ----------------------------------------------------------------------------------------- */

/* VARIABLES COLORES */
:root {
    --verdePrincipal: #5da500;
    --rojoPrincipal: #F60000;
    --rojoOscuro: #500000;

    --azulBackground: #001416;
    --negro: #000;

    --verdeBrillante: #a2ff28;
    --rojoBrillante: #ff1010;

    --naranjaBrillo:  #ff5c3f;
}

/* ------------------------------------------------------------LauraHopps---- */