/* ℂ𝕒𝕥𝕖𝕘𝕠𝕣𝕚𝕒𝕤 - ℙ𝕒𝕣𝕒𝕟𝕠𝕣𝕞𝕒𝕝 */

@import "../variables.css";

/* ESTILOS GENERALES */

* {
    margin: 0; /* Elimina el margen por defecto  */
    padding: 0; /* Elimina el padding por defecto  */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total del elemento */
}

body{
    background-color: black;
}

/*---------------------------------------------------------------------------------------------------------------*/

/*PÁGINA DE CATEGORIAS - PARANORMAL*/
main{
    width: 80%;
    margin: 1% auto; /* Centra el contenido horizontalmente */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /*negro transparente*/
}

h1{
    font-size: 70px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
    user-select: none; /* Evita que el texto sea seleccionable */
}

section{
    width: 95%;
    margin: 3% auto;
    /*background-color: brown;*/
}

section > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

div div{
    margin: 0 auto;
    padding: 10px;
    font-family: 'oswald', sans-serif;
    font-size: 30px;

    /*background-color: seagreen;*/
}

h2{
    text-align: center;
    color: var(--rojoPrincipal);
    user-select: none; 
}

img:hover{
    animation: pulse 2s infinite;
}

#volverAtras{
    width: 30%;
    color: var(--rojoPrincipal);
    text-align: center;
    text-decoration: none;
    font-family: times new roman, serif;
    font-size: 18px;
    letter-spacing: 3px; /* Agrega espacio entre las letras */
}

#volverAtras:hover{
    text-decoration: underline;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}



