/*𝕀ℕ𝕀ℂ𝕀𝕆*/

@import "variables.css";

/* ESTILOS GENERALES */

* {
    margin: 0; /* Elimina el margen por defecto  */
    padding: 0; /* Elimina el padding por defecto  */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total del elemento */
}

body{
    background-image: url(../IMG/inicio/bg_Inicio.gif); 
    background-size: cover; 
    background-position: center;
}



/*---------------------------------------------------------------------------------------------------------------*/

/*PÁGINA DE INICIO*/
