/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


/* ---------------------------------------------------------------- */

/* VARIABLES COLORES */
:root {
    --verdePrincipal: #5DA500;
    --rojoPrincipal: #F60000;

    --azulBackground: #001416;
    --negro: #000;

    --verdeBrillante: #a2ff28;
}

/* ---------------------------------------------------------------- */


* {
    margin: 0; /* Elimina el margen por defecto  */
    padding: 0; /* Elimina el padding por defecto  */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total del elemento */
}

body{
    background-image: url(../IMG/inicio/bg_Inicio.gif); /* Imagen de fondo */
    background-size: cover; /* Tamaño de la imagen de fondo, cover: La imagen cubre todo el área */
    background-position: center; /* Posición de la imagen de fondo, center: Centra la imagen */
}

/* ----------------- NAV ------------------------------------------------------------- */

nav{
    text-align: center; /* Centra el contenido del nav */
    padding: 15px; /* Agrega espacio alrededor del contenido del nav */
    background-color: rgb(from var(--azulBackground) r g b / 0.5); /* Color de fondo con poca opacidad*/ 
    border-bottom: 5px solid var(--verdePrincipal); /* Agrega un borde inferior al nav */
    font-family: "Oswald";
    font-size: 30px;
}

ul {
    list-style: none; /* Elimina los puntos de la lista */
}


li:not(#search) { /* Aplica estilos a los elementos de la lista excepto al que tiene el id "search" */
    display: inline-block; /* Muestra los elementos como bloques en línea */
    /* Diferencia entre inline-block y block : inline-block permite que los elementos estén en la misma línea pero mantienen sus propiedades de bloque, mientras que block fuerza a que cada elemento ocupe toda la línea */

    background-color: var(--negro);
    padding: 15px 20px; /* Agrega espacio alrededor del contenido de los elementos de la lista */
}

li:not(#search):hover{
    border: 1px solid var(--verdePrincipal); /* Agrega un borde blanco al pasar el mouse por encima de los elementos de la lista */
    background-color: var(--azulBackground);
    padding: 13px 18px; /* Reduce el padding para compensar el borde y evitar que el nav se haga más grande */
}

/*Enlaces*/
li a {
    display: block; /* Muestra los enlaces como bloques */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    padding: 10px 20px; /* Agrega espacio alrededor del texto de los enlaces */
    color: var(--rojoPrincipal);
}

/* Barra de búsqueda */

#search{
    width: 20%; /* Ancho de la barra de búsqueda */
    height: 40px; /* Altura de la barra de búsqueda */
    margin:  15px auto; /*Centra la barra de búsqueda */
}

form{
    white-space: nowrap; /* Evita los saltos de línea */
}

input[list] {
    width: 100%;
    height: 40px;
    border: solid 3px var(--verdePrincipal); /* Borde de la barra de búsqueda */
    border-radius: 5px; /* Bordes redondeados */
    background-color: rgb(255, 255, 255, 0.1); /* Color de fondo con opacidad */
    color: var(--verdeBrillante); /* Color del texto de la barra de búsqueda */
    padding: 10px; /* Agrega espacio dentro de la barra de búsqueda */

}

input[list]::placeholder {
    color: var(--verdeBrillante); /* Color del texto del placeholder */
    font-family: "Oswald";
}

input[list]:focus { /* pseudoclase que aplica estilos a un elemento web (como un botón o un campo de texto) cuando este se encuentra seleccionado y listo para recibir interacción. */
    outline: none; /* Elimina el borde de enfoque predeterminado */
    background-color: rgb(255, 255, 255, 0.3); /* Cambia el color de fondo al enfocar la barra de búsqueda */
}

input[list]:hover {
    background-color: rgb(255, 255, 255, 0.3); /* Cambia el color de fondo al pasar el mouse por encima de la barra de búsqueda */
}

button {
    width: 50px; /* Ancho del botón de búsqueda */
    height: 40px; /* Altura del botón de búsqueda */
    border-radius: 5px;

    vertical-align: middle; /* Alinea el botón verticalmente con el campo de texto */
}

/*---------------------------------------------------------------------------------------------------------------*/

/*Estilo para el inicio*/
