@import "variables.css";

/* ESTILOS PARA EL ENLACE ACTUAL */

nav li#stay {
    background-color: var(--verdePrincipal);
    color: var(--azulBackground);
    border: 3px double var(--azulBackground);
}

nav #stay a {
    color: var(--azulBackground);
}

nav #stay a:hover {
    color: var(--rojoBrillante);
}